.site-footer {
  @extend %padding-regular;
  display: inline-block;
  text-align: center;
  background: $footer-background;
  width: 100%;
  color: $footer-color;
  font-size: 0.9em;

  div.container {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }

  div.col-row {
    display: table-row;
    width: 100%;
  }

  div.col-cell {
    display: table-cell;
    padding: 5px;
  }

  div.col-cell-icons {
    display: table-cell;
    font-size: 2.9em;
  }
}