.site-header {
  @extend %padding-very-small;
  background: $brand-color;
  border-bottom: 1px solid $border-color;

  div.container {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }

  div.col-row {
    display: table-row;
    width: 100%;
  }

  div.col-cell {
    display: table-cell;
    padding: 5px;
  }

  div.col-cell-avatar {
    width: 20%;
  }

  div.col-cell-title {
    width: 60%;
  }

  div.col-cell-icons {
    width: 20%;
    text-align: right;
  }

  div.col-cell-search {
    width: 100%;
  }

  a {
    color: $header-link-color;
  }

  .avatar {
    height: 2em;
    width: 2em;
    border-radius: 0.2em;
    margin-right: 1em;
    position: relative;
    transform: translateY(15%);
  }

  .site-title {
    font-weight: bold;
    font-size: 2em;
  }

  /* --- Search form --- */
  form {
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

    .search {
      width: 100%;
      position: relative;
      display: flex;
    }

    .searchTerm {
      width: 100%;
      border: 2px solid $search-color;
      border-right: none;
      padding: 5px;
      border-radius: 5px 0 0 5px;
      outline: none;
      font-family: 'Open Sans', sans-serif;
      color: $search-color;
    }

    .searchTerm:focus {
      color: $search-color;
    }

    .searchButton {
      width: 40px;
      height: 36px;
      border: 1px solid $search-color;
      text-align: center;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px;
      background-color: $brand-color;
      color: $search-color;
    }

    .wrap {
      width: 100%;
    }
  }
}